{% extends "@App/layout.html.twig" %}

{% block body %}

    <div class="container header">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">Palo Alto</div>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs pull-right">
                    <li role="presentation"><a href="#">HOME</a></li>
                    <li role="presentation"><a href="#">ABOUT</a></li>
                    <li role="presentation"><a href="#">ARCHIVE</a></li>
                    <li role="presentation"><a href="#">CONTACT</a></li>
                    <li role="presentation">
                        <a href="#">
                            {% image '@AppBundle/Resources/public/images/Search.png' %}
                            <img src="{{ asset_url }}" alt="Example" />
                            {% endimage %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container main">

        <div class="blog-post">
            <div class="row">
                <div class="col-12 pull-right position">
                    <a href="#">
                        <div class="post-categoria">
                            I DO Travel
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog-post-inland">
                <div class="row">
                    <div class="col-xs-12 post-date">
                        Sep 20
                    </div>
                </div>
                <div class="blog-post-title">
                    <h1>No difference how many peaks you reach if there was no pleasure in the climb.</h1>
                </div>
                <div class="blog-post-content">
                    <p>
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                        Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                        Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                        Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam.
                        Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi,
                        aliquam sed tincidunt sit amet,pretium et augue.
                    </p>
                </div>
                <div class="blog-post-footer">
                    <div class="row">
                        <div class="col-xs-6 blog-extension">
                            <a href="#">READ MORE</a>
                        </div>
                        <div class="col-xs-6 text-right">#Yosemite #Peak #Explorer</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-post">
            <div class="row">
                <div class="col-12 pull-right position">
                    <a href="#">
                        <div class="post-categoria">
                            I DO Travel
                        </div>
                    </a>
                </div>
            </div>
            <div class="blog-post-inland">
                <div class="row">
                    <div class="col-xs-12 post-date">
                        Sep 20
                    </div>
                </div>
                <div class="blog-post-title">
                    <h1>No difference how many peaks you reach if there was no pleasure in the climb.</h1>
                </div>
                <div class="blog-post-content">
                    <p>
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                        Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                        Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
                        Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam.
                        Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi,
                        aliquam sed tincidunt sit amet,pretium et augue.
                    </p>
                </div>
                <div class="blog-post-footer">
                    <div class="row">
                        <div class="col-xs-6 blog-extension">
                            <a href="#">READ MORE</a>
                        </div>
                        <div class="col-xs-6 text-right">#Yosemite #Peak #Explorer</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}