<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/stylesheets/_bootstrap.scss'
        filter='cssrewrite, scssphp' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@AppBundle/Resources/public/scss/*' filter='cssrewrite, scssphp' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>

{% block body %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/library/jquery/jquery.js'
    '@AppBundle/Resources/public/js/custom/site.js'
    '@AppBundle/Resources/public/javascripts/bootstrap.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>