.header {

  padding-top: 50px;

  .logo {
    margin-top: -10px;
    color: #333;
    font-size: 42px;
  }

  .nav-tabs {
    border-bottom: none;
  }

  .nav-tabs > li > img {
    padding-top: 12px;
  }

  .nav > li > a {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
  }

  nav > li > a:active {
    color: #bdbdbd;
  }
}