.blog-post {
  margin-top: 40px;
  background-color: #FFFFFF;
  //box-shadow: inset h v blur spread rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

  & .position {
    padding: 20px 20px 0 0;

    & a {
      text-decoration: none;

      & .post-categoria {
        padding: 10px 10px;
        background-color: #5c6bc0;
        color: #ffffff;
        font-size:14px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }

  & .blog-post-inland {
    padding: 0 70px 70px 70px;

    & .post-date {
      color:  #bdbdbd;
      font-size: 14px;
      font-weight: 700;
    }

    & .blog-post-title {
      color:  #000000;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      padding-bottom: 30px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    }

    & .blog-post-content {
      padding: 30px 10px 40px 0;
      color: #333333;
      font-size: 17px;
      font-weight: 400;
      line-height: 30px;
    }

    & .blog-post-footer{

      & .blog-extension{

        & a {
          color:  #5c6bc0;
          font-size: 21px;
          font-weight: 700;
          line-height: 50px;
          text-decoration: none;
        }
      }
    }
  }

}

